<li>
  <%= link_to "About", root_path(anchor: "about") %>
</li>
<li class="menu-divider">&sdot;</li>
<li>
  <%= link_to "Location", root_path(anchor: "location") %>
</li>
<li class="menu-divider">&sdot;</li>
<li>
  <%= link_to "Contact", root_path(anchor: "contact") %>
</li>
<li class="menu-divider">&sdot;</li>
<li>
  <%= link_to "Donate", donate_path %>
</li>
