<div class="container donate">
  <div class="row">
    <div class="clearfix"></div>
    <h1 class="section-heading col-lg-12 text-center">Coming Soon!</h1>
    <div class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3">
      <%= image_tag("seedlings.jpg", class: "img-responsive img-rounded") %>
    </div>
  </div>
</div>

